  <div class="goback-button">
    <%= link_to "â† Go back", pet_path(@pet) %>
  </div>
<div class= "pet-form">

  <h2>Edit Pet</h2>
    <div class="form-link">
      <%= link_to pet_pet_carers_path(@pet) do %>
        Manage Pet Carers / Vet
      <% end %>
    </div>
    <%= simple_form_for @pet do |f| %>
                <%= f.input :name %>
                <%= f.input :address %>
                <%= f.input :birth_date, start_year: 1990 %>
                <%= f.input :species, collection: Pet::SPECIES %>
                <%= f.input :photo, as: :file %>
                <%= f.submit "Add", class: 'button' %>
              <% end %>
</div>
