
<%# <div data-controller="animation" id="success-animation" class="d-none"> %>
<div data-controller="animation" id="success-animation" class="d-none" >
  <h2>Hey, thank you human! <br> I feel better now <i class="fa-solid fa-paw"></i></h2>
  <%= image_tag 'pet-love.gif' %>
</div>
<div class="petimage-container">
  <% unless @pet.photo.key.nil? %>
    <%= cl_image_tag @pet.photo.key, class: "avatar-large" %>
  <% else %>
    <%= image_tag "pet-avatar-large", class:"avatar-large" %>
  <% end %>
</div>

  <div class="petname-container">
    <h2><%= @pet.name %></h2>
      <%= link_to edit_pet_path(@pet) do %>
        Edit pet details
      <% end %>
  </div>

<div class="pet-profile">
    <div class="petdetails-container">
      <div class="petdetails-card">
        <h4><%= pluralize @pet_age, "year" %></h4>
        <p>Age</p>
      </div>
      <div class="petdetails-card">
        <h4><%= @pet.species.capitalize %></h4>
        <p>Species</p>
      </div>
      <div class="petdetails-card">
        <% unless @pet.vet.nil? %>
          <%= @pet.vet.first_name %>
          <%#= link_to profile_path(@vet) do %>
            <%#= @pet.vet.first_name %>
          <%# end %>
        <% else %>
          <h4><%= link_to "+ Add vet", new_pet_pet_carer_path(@pet) %></h4>
        <% end %>
        <% unless @pet.vet.nil? %>
          <p><%= link_to chat_path(@chat) do %><i class="fa-solid fa-comments" style="color: #F9C51B; margin:0;"></i>
          Vet<% end %></p>
          <% else %>
            <p>Vet</p>
        <% end %>
      </div>
      <div class="petdetails-card">
        <% unless @pet.owner.nil? %>
          <%#= link_to profile_path(current_user) do %>
          <h4><%= @pet.owner.first_name %></h4>
          <%# end %>
        <p>Human</p>
        <% end %></p>
      </div>
    </div>

  <div class="pet-medication-card">
      <div class="pet-med-card-txt">
        <h2><%= @pet.name %>'s medication</h2>
        <%= link_to pet_medications_path(@pet) do %>
          See all
        <% end %>
      </div>


      <div class="medicationstatus-container">
        <% (Date.today.beginning_of_week(:sunday)...Date.today.end_of_week).each do |date| %>

        <div class="medicationstatus-card">
          <span class="text-small"><%= date.strftime('%a %d') %></span>
          <% day_administrations = MedicationAdministration.joins(:medication).where(date: date.all_day, medication: { pet_id: @pet.id }) %>
          <% if day_administrations.empty? %>
            <%= image_tag "no-meds.png", height:"40px", width:"40px" %>
          <% elsif day_administrations.all? { |administration| administration.is_given? }%>
            <%= image_tag "yellowtick.png", height:"40px", width:"40px" %>
          <% else  %>
            <%= image_tag "greycircle.png", height:"40px", width:"40px" %>
          <% end %>
      </div>
      <% end %>
      </div>
      <%= link_to 'Add medication', new_pet_medication_path(@pet), class: "yellow-btn"%>
    </div>

    <div class="medicationadministration-container">
    <% unless @administrations.count < 1 %>
    <h3><%= Date.today.strftime("%d - %b") %></h3>
    <% @administrations.each do |dosage| %>
      <div class="medicationadministration-card">
        <div class="medicationdosage-card">
          <div class="medicationdosage-img">
            <% if dosage.medication.medication_type == "Capsule" %>
              <i class="fa-solid fa-capsules"></i>
            <% elsif dosage.medication.medication_type == "Tablet" %>
              <i class="fa-solid fa-tablets"></i>
            <% elsif dosage.medication.medication_type == "Liquid" %>
              <i class="fa-solid fa-droplet"></i>
            <% elsif dosage.medication.medication_type == "Spray" %>
              <i class="fa-solid fa-spray-can"></i>
            <% elsif dosage.medication.medication_type == "Cream" %>
              <i class="fa-solid fa-poo"></i>
            <% elsif dosage.medication.medication_type == "Injection" %>
              <i class="fa-solid fa-syringe"></i>
            <% else %>
              <i class="fa-solid fa-prescription-bottle-medical"></i>
            <% end %>
          </div>
          <div class="medicationdosage-text">
            <h3><%= dosage.medication.name %></h3>
            <p><span class="text-small"><%= dosage.medication.dosage %> <%= dosage.medication.medication_type %></span></p>
          </div>
          <div class="is_given_status-container">
          <% unless dosage.is_given == true %>
            <div class="medicationdosage-btn">
            <%= button_to "Give",  medication_administration_path(dosage, is_given: true), method: :patch, data: {turbo_confirm: 'Are you sure, human?'} %>
            </div>
          <% else %>
            <div class="donedose-btn">
            <%= button_to "Done",  pet_medications_path(@pet) %>
            </div>
          <% end %>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>

  <div class = "download">
  <%= link_to "Download ", pet_medication_administrations_path(@pet, format: 'pdf') %>
  </div>

</div>
