<div class="petimage-container">
    <% unless @pet.photo.key.nil? %>
      <%= cl_image_tag @pet.photo.key, class: "avatar-large" %>
    <% else %>
      <%= image_tag "pet-avatar-large", class:"avatar-large", height: '350px', width:'100%', style: "object-fit: cover;" %>
    <% end %>
</div>

<div class="petname-container">
  <h2><%= @pet.name %></h2>
</div>
  <div class="petdetails-container">
    <div class="petdetails-card">
      <h4><%= pluralize @pet_age, "year" %> old</h4>
      <p>Age</p>
    </div>
    <div class="petdetails-card">
      <h4><%= @pet.species.capitalize %></h4>
      <p>Species</p>
    </div>
    <div class="petdetails-card">
    <% unless @pet.owner.nil? %>
      <h4><%= @pet.owner.first_name %></h4>
    <% else %>
      <h4><%= link_to "Add carer", edit_pet_path(@pet) %></h4>
    <% end %>
      <p>Human</p>
    </div>
  </div>


<div class="container">
  <div class="pet-medication-card">
  <%#= @administrations.count %>
    <h2><%= @pet.name %>'s medication</h2>
    <%= link_to medication_path do %>
      <span class="seemedication-tag">See all</span>
    <% end %>
    <div class="medicationstatus-container">
      <div class="medicationstatus-card">
        <span class="text-small">Mon</span>
          <%# if weekday_status("Monday") == true %>
            <%#= image_tag "yellowtick", height:"40px", width:"40px" %>
          <%# else %>
            <%#= image_tag "greycircle", height:"40px", width:"40px" %>
          <%# end %>
      </div>
      <div class="medicationstatus-card">
        <span class="text-small">Tues</span>
          <%# if medication.tuesday.is_given == true %>
            <%= image_tag "yellowtick", height:"40px", width:"40px" %>
          <%# else %>
            <%#= image_tag "greycircle", height:"40px", width:"40px" %>
          <%# end %>
      </div>
      <div class="medicationstatus-card">
        <span class="text-small">Wed</span>
          <%# if medication.wednesday.is_given == true %>
            <%= image_tag "yellowtick", height:"40px", width:"40px" %>
          <%# else %>
            <%#= image_tag "greycircle", height:"40px", width:"40px" %>
          <%# end %>
      </div>
      <div class="medicationstatus-card">
        <span class="text-small">Thu</span>
          <%# if medication.thursday.is_given == true %>
            <%= image_tag "yellowtick", height:"40px", width:"40px" %>
          <%# else %>
            <%#= image_tag "greycircle", height:"40px", width:"40px" %>
          <%# end %>
      </div>
      <div class="medicationstatus-card">
        <span class="text-small">Fri</span>
          <%# if medication.friday.is_given == true %>
            <%#= image_tag "yellowtick", height:"40px", width:"40px" %>
          <%# else %>
            <%= image_tag "greycircle", height:"40px", width:"40px" %>
          <%# end %>
      </div>
      <div class="medicationstatus-card">
        <span class="text-small">Sat</span>
          <%# if medication.saturday.is_given == true %>
            <%#= image_tag "yellowtick", height:"40px", width:"40px" %>
          <%# else %>
            <%= image_tag "greycircle", height:"40px", width:"40px" %>
          <%# end %>
      </div>
      <div class="medicationstatus-card">
        <span class="text-small">Sun</span>
          <%# if medication.sunday.is_given == true %>
            <%#= image_tag "yellowtick", height:"40px", width:"40px" %>
          <%# else %>
            <%= image_tag "greycircle", height:"40px", width:"40px" %>
          <%# end %>
      </div>
    </div>
    <%= link_to 'Add medication', new_pet_medication_path(@pet), class: "yellow-btn"%>
  </div>

  <div class="medicationadministration-container">
  <% @administrations.each do |dosage| %>
    <div class="medicationadministration-card" >
      <h3><%= dosage.date.strftime("%d - %b") %></h3>
      <div class="medicationdosage-card">
        <div class="medicationdosage-img">
          <%= image_tag "medicine", height:"50px", width:"50px" %>
        </div>
        <div class="medicationdosage-text">
          <h3><%= dosage.medication.name %></h3>
          <p><span class="text-small"><%= dosage.medication.dosage %></span></p>
        </div>
        <div class="medicationdosage-btn">
          <%= button_to "Given",  medication_administration_path(dosage, {is_given: true}), method: :patch, data: {turbo_confirm: 'Are you sure?'} %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
