<div class="profile-img-header-container">
    <% if current_user.is_vet == true %>
      <%= image_tag "vet-tag", class:"vet-tag" %>
    <% end %>
    <% unless current_user.photo.key.nil? %>
      <%= cl_image_tag current_user.photo.key, class: "avatar-large" %>
    <% else %>
      <%= image_tag "avatar", class:"avatar-large", height: '350px', width:'100%', style: "object-fit: cover;" %>
    <% end %>

  <div class="container">
    <h2><%= current_user.first_name %> <%= current_user.last_name %></h2>
  </div>
</div>

<div class="container">
  <div class="profile-aboutmecard">
    <%= link_to edit_user_registration_path do %>
      <span class="editprofile-tag">Edit profile</span>
    <% end %>
    <h2>About me</h2>
    <p> ChillPiller since: <%= current_user.created_at.strftime("%B #{current_user.created_at.day.ordinalize}, %Y") %></p>
    <%#= IF WE CAN, ADD Longest Medication Streak: <%= current_user.medications_administration.longeststreak%>
  </div>
  <div class="profile-contactcard-container">
    <div class="profile-contactcard">
      <p><strong>Address</strong><p>
      <p><%= current_user.address %></p>
    </div>
      <div class="profile-contactcard">
      <p><strong>Phone number</strong><p>
      <p><%= current_user.phone_number %></p>
    </div>
    <div class="profile-contactcard">
      <p><strong>Email</strong><p>
      <p><%= current_user.email %></p>
    </div>
  </div>

  <div class="profile-pets-container">
    <h2><%= current_user.first_name %>'s Pets</h2>
      <div class="profile-petscard-container">
        <% unless @user_pets.nil? %>
          <% @user_pets.each do |pet| %>
            <%= link_to pet_path(pet) do %>
              <div class="profile-petscard">
              <%#= image_tag "pet-avatar", height: '50px', width:'50px', style: "object-fit: cover; border-radius: 50%;" %>
              <%= cl_image_tag pet.photo.key, height: '50px', width:'50px', style: "object-fit: cover; border-radius: 50%;"%>
              <h3><%= pet.name %></h3>
              <span class="text-small"><%= Date.today.year - pet.birth_date.year %> year old</span>
              </div>
            <% end %>
          <% end %>
        <% end %>


          <%= link_to new_pet_path do %>
          <div class="profile-petscard-add">
            <%= image_tag "add-icon.png", height: '50px', width:'50px', style: "object-fit: cover; border-radius: 50%; text-decoration:none" %>
            <p><strong>Add a pet</strong><p>
          </div>
          <% end %>

      </div>
  </div>

<%#= VET ONLY  %>

  <% if current_user.is_vet == true %>
    <div class="vet-map-container">
      <h2><%= current_user.first_name %>'s Location</h2>
      <div style="width: 100%; height: 600px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" >
    </div>
    </div>
  <% end %>
</div>

<%#= OWNER OR CARER  %>
