
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="container-fluid">
    <%#= link_to "#", class: "navbar-brand" do %>
    <%=link_to image_tag("LOGO.png", alt: "My Logo", class: "logo"), root_path, class: "logo-link" %>
    <% unless params[:controller] == "devise/sessions" || params[:controller] == "devise/registrations" %>

    <% end %>

    <% unless params[:controller] == "devise/sessions" || params[:controller] == "devise/registrations" || params[:controller] == "pages" %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" data-action = "click->navbar#toggle">
      <span class="" data-navbar-target = "icon"><i class="fa-solid fa-bars"></i></span>
      <span class="d-none" data-navbar-target = "icon"><i class="fa-regular fa-x"></i> </span>
    </button>
    <% end %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>

         <div class="card-product">
            <% unless current_user.photo.key.nil? %>
                <%= cl_image_tag current_user.photo.key, class: "burger-img" %>
              <% else %>
                <%= image_tag "avatar.jpg", class:"burger-img", style: "object-fit: cover;" %>
              <% end %>
            <div class="card-product-infos">
              <h2><%=current_user.first_name  %> </h2>
              <p><%= current_user.email %></p>
            </div>
            <div class="card-arrow">
            <%= link_to ">", profile_path%>
            </div>

        </div>
        <p class = "navbar-margin">Your best friends <span id="adding"><%= link_to "+ ADD", new_pet_path %></span></p>

        <div class="pet-grid">
          <% current_user.pets.each do |pet| %>
            <div class="pet-card-grid">
              <%= cl_image_tag pet.photo.key, height: "65px", width: "65px", style: "object-fit: cover;" %>
              <div class = "grid-item"><%= pet.name %></div>
              </div>
              <% end %>
          </div>




           <hr>
          <li class="nav-item active">
            <li><i class="fa-solid fa-house"></i><%= link_to "Home", class: "nav-link" %></li>
          </li>
          <hr>
          <li class="nav-item active">
            <li><i class="fa-solid fa-magnifying-glass-plus"></i><%= link_to "Search", class: "nav-link" %></li>
          </li>
          <hr>
          <li class="nav-item active">
            <li><i class="fa-solid fa-comment"></i><%= link_to "Vet Chat", class: "nav-link" %></li>
          </li>
          <hr>
          <li class="nav-item active">
            <li><i class="fa-sharp fa-solid fa-location-dot"></i><%= link_to "Nearby vets", class: "nav-link" %></li>
          </li>
          <hr>
          <li class="nav-item active">
            <li><i class="fa-solid fa-bell"></i><%= link_to "Notifications", class: "nav-link" %></li>
          </li>
          <hr>
          <li class="nav-item active">
            <li><i class="fa-solid fa-arrow-right-from-bracket"></i><%= link_to "Log out", destroy_user_session_path, class: "nav-link", data: {turbo_method: :delete} %></li>
          </li>


          <div class="burger-last">
           <div class ="burger1">
            <li class="nav-item active">
              <li><i class="fa-solid fa-gear"></i><%= link_to "Setting", class: "nav-link" %></li>
            </li>
           </div>

           <div class ="burger1">
            <li class="nav-item active">
              <li><i class="fa-solid fa-circle-info"></i><%= link_to "Support", class: "nav-link" %></li>
            </li>
           </div>

          </div>

        <% end %>
      </ul>
    </div>
  </div>
</div>
