<div class="container full-vh">
<br>
  <div class="goback-button">
    <%= link_to "â† Go back", pet_path(@pet) %>
  </div>


  <h2><strong> Manage <%= @pet.name %>'s <br>carers / vet </strong></h2>
  <div class="card-product-container">
    <% @pet_carer.each do |carer| %>
      <div class="card-product card-product-less-margin">
        <% unless carer.user.photo.key.nil? %>
          <%= cl_image_tag carer.user.photo.key, class: "carer-img" %>
        <% else %>
          <%= image_tag "avatar.png", class:"carer-img", style: "object-fit: cover;" %>
        <% end %>
        <div class="card-product-infos">
        <% unless carer.is_owner == true %>
            <%= link_to userprofile_path(carer.user_id) do %>
              <h2><%= carer.user.first_name  %></h2>
              <p><%= carer.user.email %></p>
              <% if carer.user.is_vet == true %>
                <%= image_tag "vet-tag.png", height: '20px', width:'45px'  %>
              <% end %>
            <% end %>
          <% else %>
            <h2><%= carer.user.first_name  %></h2>
            <p><%= carer.user.email %></p>
              <% if carer.is_owner == true %>
                <p><strong><i class="fa-solid fa-shield-dog"></i>Owner</strong></p>
              <% end %>
          <% end %>
        </div>
          <% unless carer.is_owner == true || !policy(carer).destroy? %>
            <div class="curr_meds_icon">
              <%= link_to pet_carer_path(carer), data: {turbo_method: :delete, turbo_confirm: "Are you sure, human?"} do %>
              <i class="fa-regular fa-trash-can"></i>
            </div>
          <% end %>
        <% end %>

      </div>
    <% end %>
  <%= link_to 'Add carer or vet', new_pet_pet_carer_path(@pet), class: "yellow-btn"%>
  </div>
</div>
