<!-- ORIGINAL
<div id="message-<%= message.id %>" class="msg-content">
  <% if message.user == current_user %>
    <div class="msg-txt msg-blue">
      <p><%= message.content %></p>
    </div>
    <div class="text-right">
      <span class="sent-time"><%= message.created_at.strftime("%H:%M") %></span>
    </div>
  <% else %>
    <div class="msg-vet">
      <div class="chat-vet-avt">
        <% unless chat.user.photo.key.nil? %>
          <%= cl_image_tag chat.user.photo.key%>
        <% else %>
          <%= image_tag "avatar.jpg" %>
        <% end %>
      </div>

      <div class="msg-vet-txt">
        <div class="msg-txt msg-gray">
          <p><%= message.content %></p>
        </div>
        <span class="sent-time time-gray"><%= message.created_at.strftime("%H:%M") %></span>
      </div>
    </div>
  <% end %>
</div>
-->

<!-- TRYING TO STYLE LIKE THE LECTURE (but avatar needs rails)
<div id="message-<%= message.id %>" class="msg-content">
  <% unless chat.user.photo.key.nil? %>
    <%= cl_image_tag chat.user.photo.key%>
  <% else %>
    <%= image_tag "avatar.jpg" %>
  <% end %>

  <div class="msg-txt">
    <p><%= message.content %></p>
  </div>

  <span class="sent-time"><%= message.created_at.strftime("%H:%M") %></span>
</div>
-->

<div id="message-<%= message.id %>">
  <% if message.user == current_user %>
    <%= message.content %>
  <% else %>
    <div class="msg-vet">
      <div class="chat-vet-avt">
        <% unless chat.user.photo.key.nil? %>
          <%= cl_image_tag chat.user.photo.key%>
        <% else %>
          <%= image_tag "avatar.jpg" %>
        <% end %>
      </div>

      <div class="msg-vet-txt">
        <div class="msg-txt msg-gray">
          <p><%= message.content %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
