<!-- Chat head -->
<div data-controller="chat-subscription"
     data-chat-subscription-chat-id-value="<%= @chat.id %>"
     data-chat-subscription-current-user-id-value="<%= current_user.id %>"
>
  <div class="chat-head">
    <div class="chat-head-l">
      <i class="fa-solid fa-arrow-left"></i>

      <div class="chat-head-avt">
        <% unless @chat.user.photo.key.nil? %>
          <%= cl_image_tag @chat.user.photo.key%>
        <% else %>
          <%= image_tag "avatar.jpg" %>
        <% end %>
      </div>
    </div>


    <div class="chat-head-avt">
      <% unless current_user.photo.key.nil? %>
        <%= cl_image_tag current_user.photo.key%>
      <% else %>
        <%= image_tag "avatar.png" %>
      <% end %>

    <h3><%= @chat.user.first_name %> <%= @chat.user.last_name %></h3>

    <div class="chat-head-icons">
      <i class="fa-solid fa-magnifying-glass"></i>
      <i class="fa-solid fa-video"></i>

    </div>
  </div>


  <!-- Messages container -->

  <div class="msg-container" data-chat-subscription-target="messages">
    <% @chat.messages.each do |message| %>
      <div class="msg-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
        <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
          <%= render "message", message: message, chat: @chat %>
        </div>
        <span class="sent-time <%= message.sender?(current_user) ? 'text-center' : '' %>"><%= message.created_at.strftime("%H:%M") %></span>
      </div>
    <% end %>
  </div>


  <!-- Message input form -->

  <div class="msg-form">
    <%= simple_form_for [@chat, @message], html: { data: { action: "turbo:submit-end->chat-subscription#resetForm" } } do |f| %>
      <div class="msg-form-input">
        <%= f.input :content, label: false, placeholder: "Write your message" %>
        <%= f.submit ">" do %><i class="fa-solid fa-paper-plane"></i><% end %>
      </div>
    <% end %>
  </div>
</div>
