  <% if user_signed_in? %>
    <%=link_to userprofile_path(user) do %>
      <div class="vet-info-window">
      <h2><%= user.first_name%> <%= user.last_name %></h2>
      <p><%= user.address %></p>
      </div>
    <% end %>
  <% else %>
    <h2><%= user.first_name%> <%= user.last_name %></h2>
    <p><%= user.address %></p>
  <% end %>
