<style>
  .image {
    text-align: center;
  }

  .first{
    text-align: center;
  }

  .med-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }

  .name{
    padding: 10px;
    background-color: orange;
    border-radius: 15 15 0 0px;
    text-align: center;
  }

  .info1{
    border: 1px solid black;
    width: 250px;
    border-radius: 15px;
    margin-bottom: 20px;
  }

  .info{
    padding-left: 10px;
  }
</style>

<div>
  <div class = "image"><%= wicked_pdf_image_tag asset_url("LOGO.png") %></div>
  <div class = "first"><h1> <%= @pet.name %>'s Medication </h1></div>
</div>

<%# <div class = "med-grid"> %>
<table>
  <% td_count = 0 %>
  <% (@medication_administrations.count / 3.to_f ).ceil.times do %>
    <tr>
      <% @medication_administrations[td_count...3].each do |med_admin| %>
        <td>
          <div class = "info1">
            <div class = "name"><p>Medication: <%= med_admin.medication.name %></p></div>
            <div class = "info">
              <div class = "medication"><p>Medication type: <%= med_admin.medication.medication_type %></p></div>
                <div class = "date"><p>Date: <%= med_admin.date %></p></div>
                <div class = "dosage"><p>Dosage: <%= med_admin.medication.dosage %></p></div>
                <div class = "frequency"><p>Frequency: <%= med_admin.medication.frequency %></p></div>
                <div class = "enddate"><p>End date: <%= med_admin.medication.end_date %></p></div>
              </div>
            </div>
          </div>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
<%# </div> %>
